@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-horizontal-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/**************************************
Screen breakpoints:
    0 - 600px :     Phone
    601 - 900px :   Tablet Portrait
    901 -1200px :   Tablet Landscape
    1201 - 1799 :   Basic styling will apply (Desktop first)
    1800+ :         Big Desktop

$breakpoint argument choices:
    Phone:              phone
    Tablet Portrait:    tab-port
    Tablet Landscape:   tab-land
    Large Desktop:      big-desktop  

1 em = 16px

Order matters when these mixin includes are used in CSS. Large to small
***************************************/

@mixin respond($breakpoint) {

    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //width < 600px?
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };  //width < 900px? <
    }
    
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };  // width < 1200px?
    }
    
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };  //width > 1800px?
    }
}